In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from scipy import interpolate
import time
import datetime 
%matplotlib inline  
import sys
sys.path.append('/gpfs2/projects/project-bus_capstone_2016/workspace/jz2308/bus-Capstone')

# these two modules are homemade
import gtfs
import arrivals
import ttools
os.chdir('/gpfs2/projects/project-bus_capstone_2016/workspace/share')

In [2]:
base = datetime.date(2015, 1, 1)
schedule_samples = [str(base + datetime.timedelta(days=x)) for x in range(0, 365)]
#schedule_samples = ['2015-01-04','2015-04-05','2015-06-27','2015-07-06','2015-09-05','2015-09-15','2015-10-12']
collected = pd.DataFrame()
for sdate in schedule_samples[0:1]:
    stops = gtfs.load_stops(sdate,'gtfs/')
    stops['schedule_sample_date'] = sdate
    collected = collected.append(stops[['stop_lat','stop_lon','stop_name','schedule_sample_date']].drop_duplicates())

In [3]:
collected.reset_index().head()

,stop_id,stop_lat,stop_lon,stop_name,schedule_sample_date
0,300000,40.578209,-73.939697,ORIENTAL BL/MACKENZIE ST,2015-01-01
1,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-01-01
2,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-01-01
3,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-01-01
4,300006,40.577354,-73.949554,ORIENTAL BL/DOVER ST,2015-01-01

In [5]:
collected.reset_index().head()

,stop_id,stop_lat,stop_lon,stop_name,schedule_sample_date
0,300000,40.578209,-73.939697,ORIENTAL BL/MACKENZIE ST,2015-01-01
1,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-01-01
2,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-01-01
3,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-01-01
4,300006,40.577354,-73.949554,ORIENTAL BL/DOVER ST,2015-01-01

In [7]:
reliability_metrics = pd.read_csv('performance.csv',names = ["Line", "stop_id", "schedule_sample_date", "ontime_ratio", "peak_hours wait ass","offpeak hours wait ass"])

In [8]:
reliability_metrics.head()

,Line,stop_id,schedule_sample_date,ontime_ratio,peak_hours wait ass,offpeak hours wait ass
0,Q07,350232,2015-01-02,0.831395,0.89156626506,1.000000
1,Q25,550032,2015-01-02,0.520737,0.723880597015,0.760369
2,Q72,552020,2015-01-01,1.000000,None,1.000000
3,Q47,551547,2015-01-02,0.000000,1.0,0.000000
4,Q66,500994,2015-01-30,0.486301,0.601694915254,0.958904

In [9]:
pd.DataFrame(reliability_metrics.reset_index().groupby('stop_id').mean().reset_index()).head()

   stop_id    index  ontime_ratio  offpeak hours wait ass
0   100014  2228436      0.139963                0.921871
1   100017  3101092      0.210164                0.913365
2   100018  3631244      0.177457                0.892479
3   100019  3116986      0.203798                0.918004
4   100020  2587259      0.203381                0.854682

In [10]:
stops_metrics = collected.reset_index().merge(pd.DataFrame(reliability_metrics.reset_index().groupby('stop_id').mean().reset_index()))
stops_metrics = stops_metrics.groupby('stop_id').mean()[['stop_lat','stop_lon','ontime_ratio','offpeak hours wait ass']]

In [12]:
stops_metrics.head()

          stop_lat   stop_lon  ontime_ratio  offpeak hours wait ass
stop_id
100014   40.872562 -73.888153      0.139963                0.921871
100017   40.876808 -73.889656      0.210164                0.913365
100018   40.880341 -73.886063      0.177457                0.892479
100019   40.813496 -73.929489      0.203798                0.918004
100020   40.816803 -73.927956      0.203381                0.854682

In [13]:
stops_metrics.to_csv('metrics-by-stop-2015.csv')

In [14]:
# get all the schedule data. (subset can be created later)
trips = gtfs.load_trips('2015-12-03','gtfs/')
# stops = gtfs.load_stops('2015-12-03','gtfs/')
stop_times, tz_sched = gtfs.load_stop_times('2015-12-03','gtfs/')
print 'Finished loading GTFS data.'
joined = stop_times.reset_index(level=1)[['stop_id','stop_sequence']].join(trips[['route_id','direction_id']])
unique_stops = joined.reset_index().drop_duplicates(subset=['route_id','direction_id','stop_id','stop_sequence']).drop('trip_id',axis=1)
unique_stops = unique_stops.set_index(['route_id','stop_id'],verify_integrity=False)
dupe_inds = unique_stops.index[unique_stops.index.duplicated()]
unique_stops = unique_stops.loc[dupe_inds]

Finished loading GTFS data.

In [15]:
collected = collected.reset_index().join(unique_stops.reset_index(),how='left',lsuffix='_left', rsuffix='_right')

In [16]:
collected.head()

,stop_id_left,stop_lat,stop_lon,stop_name,schedule_sample_date,route_id,stop_id_right,stop_sequence,direction_id
0,300000,40.578209,-73.939697,ORIENTAL BL/MACKENZIE ST,2015-01-01,BX23,150139,24,1
1,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-01-01,BX23,150139,1,0
2,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-01-01,BX23,150139,2,1
3,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-01-01,BX23,150038,1,1
4,300006,40.577354,-73.949554,ORIENTAL BL/DOVER ST,2015-01-01,BX23,150038,23,0

In [19]:
line_metrics = collected.reset_index().join((pd.DataFrame(reliability_metrics.groupby(['Line','stop_id']).mean().reset_index())),how='left',lsuffix='_left', rsuffix='_right')

In [22]:
line_metrics.head()

,index,stop_id_left,stop_lat,stop_lon,stop_name,schedule_sample_date,route_id,stop_id_right,stop_sequence,direction_id,Line,stop_id,ontime_ratio,offpeak hours wait ass
0,0,300000,40.578209,-73.939697,ORIENTAL BL/MACKENZIE ST,2015-01-01,BX23,150139,24,1,B1,300000,0.153516,0.921430
1,1,300002,40.578068,-73.943031,ORIENTAL BL/JAFFRAY ST,2015-01-01,BX23,150139,1,0,B1,300002,0.154064,0.889592
2,2,300003,40.577961,-73.944664,ORIENTAL BL/HASTINGS ST,2015-01-01,BX23,150139,2,1,B1,300003,0.226618,0.900917
3,3,300004,40.577721,-73.946205,ORIENTAL BL/FALMOUTH ST,2015-01-01,BX23,150038,1,1,B1,300004,0.226554,0.918115
4,4,300006,40.577354,-73.949554,ORIENTAL BL/DOVER ST,2015-01-01,BX23,150038,23,0,B1,300006,0.202300,0.917007

In [23]:
line_metrics.query("Line=='B41'")#.to_csv('metrics-by-line-stop-B41-2015.csv')

,index,stop_id_left,stop_lat,stop_lon,stop_name,schedule_sample_date,route_id,stop_id_right,stop_sequence,direction_id,Line,stop_id,ontime_ratio,offpeak hours wait ass
2085,2085,303849,40.724411,-73.949364,NASSAU AV/ECKFORD ST,2015-01-01,QM5,502361,40,0,B41,300163,0.176039,0.888042
2086,2086,303850,40.723892,-73.950668,NASSAU AV/MANHATTAN AV,2015-01-01,QM5,502361,37,0,B41,302434,0.063032,0.908949
2087,2087,303852,40.719131,-73.950302,LORIMER ST/BAYARD ST,2015-01-01,QM5,502363,44,0,B41,302623,0.121606,0.957090
2088,2088,303853,40.716995,-73.949921,LORIMER ST/MEEKER AV,2015-01-01,QM5,502363,46,0,B41,303215,0.203655,0.916641
2089,2089,303854,40.715157,-73.949623,LORIMER ST/SKILLMAN AV,2015-01-01,QM5,502363,41,0,B41,303218,0.179740,0.874663
2090,2090,303855,40.713718,-73.949387,LORIMER ST/METROPOLITAN AV,2015-01-01,QM5,502363,38,0,B41,303219,0.169476,0.909057
2091,2091,303856,40.712322,-73.949158,LORIMER ST/AINSLIE ST,2015-01-01,QM5,502364,45,0,B41,303222,0.178442,0.897610
2092,2092,303857,40.711025,-73.948944,LORIMER ST/GRAND ST,2015-01-01,QM5,502364,47,0,B41,303223,0.183056,0.866537
2093,2093,303858,40.709419,-73.948677,LORIMER ST/TEN EYCK ST,2015-01-01,QM5,502364,42,0,B41,303224,0.168804,0.878831
2094,2094,303859,40.707287,-73.948326,LORIMER ST/MESEROLE ST,2015-01-01,QM5,502364,39,0,B41,303227,0.169452,0.862365
2095,2095,303860,40.705944,-73.948166,LORIMER ST/MONTROSE AV,2015-01-01,QM5,502371,46,0,B41,303228,0.162744,0.888075
2096,2096,303861,40.704521,-73.947929,LORIMER ST/BROADWAY,2015-01-01,QM5,502371,48,0,B41,303229,0.175911,0.881595
2097,2097,303862,40.702843,-73.949951,LORIMER ST/HARRISON AV,2015-01-01,QM5,502371,43,0,B41,303230,0.157725,0.863543
2098,2098,303863,40.701595,-73.951881,LORIMER ST/MARCY AV,2015-01-01,QM5,502371,40,0,B41,303232,0.135417,0.901051
2099,2099,303864,40.700336,-73.953819,LORIMER ST/LEE AV,2015-01-01,QM5,552507,8,0,B41,303233,0.153754,0.916513
2100,2100,303865,40.699783,-73.957039,WALLABOUT ST/BEDFORD AV,2015-01-01,QM5,552507,5,0,B41,303234,0.150598,0.900334
2101,2101,303866,40.699486,-73.958893,WALLABOUT ST/WYTHE AV,2015-01-01,QM5,552507,2,0,B41,303235,0.133872,0.913163
2102,2102,303868,40.696239,-73.958435,FRANKLIN AV/PARK AV,2015-01-01,QM5,502304,9,0,B41,303237,0.138212,0.888196
2103,2103,303869,40.694016,-73.957993,FRANKLIN AV/MYRTLE AV,2015-01-01,QM5,502304,6,0,B41,303238,0.129165,0.893126
2104,2104,303870,40.692451,-73.957680,FRANKLIN AV/WILLOUGHBY AV,2015-01-01,QM5,502304,3,0,B41,303239,0.138469,0.912229
2105,2105,303871,40.690331,-73.957291,FRANKLIN AV/DE KALB AV,2015-01-01,QM5,552510,10,0,B41,303241,0.140466,0.906167
2106,2106,303872,40.689312,-73.957214,FRANKLIN AV/LAFAYETTE AV,2015-01-01,QM5,552510,7,0,B41,303242,0.130248,0.925676
2107,2107,303874,40.685642,-73.956657,FRANKLIN AV/GATES AV,2015-01-01,QM5,552510,4,0,B41,303243,0.136221,0.898062
2108,2108,303875,40.683743,-73.956276,FRANKLIN AV/MADISON ST,2015-01-01,QM5,502307,11,0,B41,303244,0.131165,0.921434
2109,2109,303876,40.682961,-73.956123,FRANKLIN AV/PUTNAM AV,2015-01-01,QM5,502307,8,0,B41,303247,0.145969,0.930006
2110,2110,303878,40.678802,-73.955284,FRANKLIN AV/ATLANTIC AV,2015-01-01,QM5,502307,5,0,B41,303249,0.126571,0.918858
2111,2111,303880,40.676933,-73.955772,FRANKLIN AV/BERGEN ST,2015-01-01,QM5,502309,12,0,B41,303250,0.116386,0.945806
2112,2112,303881,40.674763,-73.956566,FRANKLIN AV/PROSPECT PL,2015-01-01,QM5,502309,9,0,B41,303253,0.100217,0.929420
2113,2113,303882,40.673409,-73.957054,FRANKLIN AV/STERLING PL,2015-01-01,QM5,502309,6,0,B41,303254,0.069953,0.928407
2114,2114,303883,40.672108,-73.957520,FRANKLIN AV/ST JOHNS PL,2015-01-01,QM5,552519,13,0,B41,303256,0.093077,0.917522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,2163,303959,40.677361,-73.952629,BEDFORD AV/DEAN ST,2015-01-01,QM5,501623,28,0,B41,306324,0.160191,0.890631
2164,2164,303960,40.679153,-73.952972,BEDFORD AV/ATLANTIC AV,2015-01-01,QM5,501623,23,0,B41,306325,0.121869,0.932270
2165,2165,303966,40.677433,-73.955063,DEAN ST/FRANKLIN AV,2015-01-01,QM5,501623,20,0,B41,306533,0.076032,0.888564
2166,2166,303967,40.676987,-73.952934,DEAN ST/BEDFORD AV,2015-01-01,QM5,501456,27,0,B41,306716,0.138554,0.943598
2167,2167,303968,40.675964,-73.953262,BEDFORD AV/BERGEN ST,2015-01-01,QM5,501456,29,0,B41,306892,0.116700,0.917643
2168,2168,303969,40.674236,-73.953888,BEDFORD AV/PROSPECT PL,2015-01-01,QM5,501456,24,0,B41,306901,0.165778,0.940302
2169,2169,303970,40.672863,-73.954384,BEDFORD AV/STERLING PL,2015-01-01,QM5,501456,21,0,B41,307210,0.113848,0.953180
2170,2170,303971,40.671543,-73.954857,BEDFORD AV/ST JOHNS PL,2015-01-01,QM5,501457,28,0,B41,307360,0.139062,0.900849
2171,2171,303972,40.670422,-73.955269,BEDFORD AV/EASTERN PY,2015-01-01,QM5,501457,30,0,B41,307403,0.111989,0.923243
2172,2172,303974,40.667202,-73.956429,BEDFORD AV/CARROLL ST,2015-01-01,QM5,501457,25,0,B41,307460,0.140396,0.929837
2173,2173,303975,40.665413,-73.957069,BEDFORD AV/MONTGOMERY ST,2015-01-01,QM5,501457,22,0,B41,307516,0.124209,0.938164
2174,2174,303976,40.663151,-73.957260,BEDFORD AV/EMPIRE BL,2015-01-01,QM5,501458,29,0,B41,307636,0.084992,0.873109
2175,2175,303977,40.661625,-73.957092,BEDFORD AV/LEFFERTS AV,2015-01-01,QM5,501458,31,0,B41,307646,0.123245,0.961782
2176,2176,303978,40.660168,-73.956932,BEDFORD AV/MAPLE ST,2015-01-01,QM5,501458,26,0,B41,307775,0.571429,1.000000
2177,2177,303979,40.658718,-73.956779,BEDFORD AV/RUTLAND RD,2015-01-01,QM5,501458,23,0,B41,307840,0.115439,0.940253
2178,2178,303981,40.655540,-73.956444,BEDFORD AV/PARKSIDE AV,2015-01-01,QM5,504995,30,0,B41,307853,0.125515,0.919448
2179,2179,303982,40.654713,-73.956352,BEDFORD AV/CLARKSON AV,2015-01-01,QM5,504995,32,0,B41,307895,0.090909,0.822727
2180,2180,303983,40.653446,-73.956223,BEDFORD AV/LENOX RD,2015-01-01,QM5,504995,27,0,B41,308061,0.148356,0.893165
2181,2181,303984,40.651978,-73.956062,BEDFORD AV/LINDEN BL,2015-01-01,QM5,504995,24,0,B41,308070,0.114366,0.919774
2182,2182,303985,40.650196,-73.955902,BEDFORD AV/CHURCH AV,2015-01-01,QM5,501460,31,0,B41,308152,0.123701,0.930355
2183,2183,303986,40.648376,-73.955841,BEDFORD AV/SNYDER AV,2015-01-01,QM5,501460,33,0,B41,308153,0.192343,0.883385
2184,2184,303987,40.646336,-73.955589,BEDFORD AV/TILDEN AV,2015-01-01,QM5,501460,28,0,B41,308154,0.193913,0.854750
2185,2185,303988,40.644482,-73.954788,BEDFORD AV/BEVERLEY RD,2015-01-01,QM5,501460,25,0,B41,308348,0.113269,0.922144
2186,2186,303989,40.642551,-73.954575,BEDFORD AV/CLARENDON RD,2015-01-01,QM5,552712,32,0,B41,308369,0.133408,0.939219
2187,2187,303990,40.640240,-73.954330,BEDFORD AV/AV D,2015-01-01,QM5,552712,34,0,B41,308381,0.104840,0.910884
2188,2188,303996,40.632591,-73.957840,OCEAN AV/GLENWOOD RD,2015-01-01,QM5,552712,29,0,B41,308452,0.000000,1.000000
2189,2189,303997,40.630146,-73.957359,OCEAN AV/AV H,2015-01-01,QM5,552712,26,0,B41,308557,0.100148,0.925627
2190,2190,303998,40.628216,-73.957001,OCEAN AV/AV I,2015-01-01,QM5,501462,33,0,B41,308641,0.096591,0.921582
2191,2191,303999,40.625378,-73.956459,OCEAN AV/AV J,2015-01-01,QM5,501462,35,0,B41,801144,0.000000,1.000000
2192,2192,304000,40.622997,-73.956009,OCEAN AV/AV K,2015-01-01,QM5,501462,30,0,B41,901007,0.090909,1.000000

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(40,20))
plt.scatter(stops_metrics.stop_lon,stops_metrics.stop_lat,c=stops_metrics.ontime_ratio,s=55)