In [1]:
import os
import pandas as pd
import sys
sys.path.append('/gpfs2/projects/project-bus_capstone_2016/workspace/mu529/Bus-Capstone')
import ttools #homemade module
import gtfs #homemade module
os.chdir('/gpfs2/projects/project-bus_capstone_2016/workspace/share')

In [2]:
# get the sample of parsed AVL data.  Beware, large files take more time.
bustime = pd.read_csv('spark_parse/test2.txt',header=None)

/opt/rh/anaconda/root/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [3]:
# beware!  Bonan is still working on organizing the extract files.  these columns may change.
bustime.columns = ['route','lat','lon','timestamp','vehicle_id','trip_id','trip_date','shape_id','next_stop_id','dist_from_stop','stop_dist_on_trip','presentable_dist']

In [4]:
bustime.drop_duplicates(['vehicle_id','timestamp'],inplace=True)
bustime['trip_id'] = bustime['trip_id'].str.replace('MTA NYCT_','')
bustime['trip_id'] = bustime['trip_id'].str.replace('MTABC_','')
bustime.set_index(['route','trip_id','trip_date','vehicle_id'],inplace=True,drop=True)#,verify_integrity=True)

In [5]:
# for demonstration, use a subset. Just get data for one line (M5) on one day.
tripDateLookup = "2015-01-06"
lineLookup = "MTA NYCT_B41"
bustime = bustime.xs((lineLookup,tripDateLookup),level=(0,2),
                           drop_level=False)
# note that the AVL dataframe must be sorted by timestammp, since iloc[]
# selection is used later in this script to find the earliest time
bustime.sort_index(inplace=True)
bustime['timestamp'] = bustime['timestamp'].apply(ttools.parseActualTime,tdate='2015-01-06')
print 'Finished loading BusTime data, parsing timestamps, and and slicing B41 line.'

Finished loading BusTime data, parsing timestamps, and and slicing B41 line.

In [6]:
# be careful - looks like pandas did not recognize this column to be numeric data
print type(bustime.iloc[1].stop_dist_on_trip)
bustime['stop_dist_on_trip'] = bustime['stop_dist_on_trip'].convert_objects(convert_numeric=True)
bustime['dist_from_stop'] = bustime['dist_from_stop'].convert_objects(convert_numeric=True)

<type 'str'>

In [7]:
bustime['veh_dist_along_trip'] = bustime['stop_dist_on_trip'] - bustime['dist_from_stop']

## Problem: multiple vehicles serving the same trip? 
Usually there is a clear "winner."  Perhaps this due to logging in/out of vehicles before the trip actually begins.

In [22]:
bg = bustime.groupby(level=(0,1,2,3))
trip_veh_validation = pd.DataFrame(bg.size(),columns=['N'])
trip_veh_validation['time_range'] = bg['timestamp'].max()-bg['timestamp'].min()
trip_veh_validation['dist_range'] = bg['veh_dist_along_trip'].max()-bg['veh_dist_along_trip'].min()

In [23]:
trip_veh_validation

                                                                          N  \
route        trip_id                           trip_date  vehicle_id
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1   2015-01-06 MTA NYCT_4233  51
                                                          MTA NYCT_4615   4
                                                          MTA NYCT_5049  10
             FB_A5-Weekday-SDon-006200_B41_2   2015-01-06 MTA NYCT_4615  54
                                                          MTA NYCT_5049   3
             FB_A5-Weekday-SDon-009000_B41_1   2015-01-06 MTA NYCT_4233  39
             FB_A5-Weekday-SDon-009700_B41_3   2015-01-06 MTA NYCT_4239  50
             FB_A5-Weekday-SDon-012000_B41_2   2015-01-06 MTA NYCT_4615  65
                                                          MTA NYCT_4955  70
             FB_A5-Weekday-SDon-012200_B41_4   2015-01-06 MTA NYCT_4244  39
             FB_A5-Weekday-SDon-015000_B41_3   2015-01-06 MTA NYCT_4239  44
             FB_A5-Weekday-SDon-015500_B41_1   2015-01-06 MTA NYCT_4233  85
             FB_A5-Weekday-SDon-018000_B41_4   2015-01-06 MTA NYCT_4244  40
                                                          MTA NYCT_4955   4
             FB_A5-Weekday-SDon-018200_B41_2   2015-01-06 MTA NYCT_4615  72
             FB_A5-Weekday-SDon-021000_B41_1   2015-01-06 MTA NYCT_4233  41
             FB_A5-Weekday-SDon-021500_B41_3   2015-01-06 MTA NYCT_4239  47
             FB_A5-Weekday-SDon-024000_B41_2   2015-01-06 MTA NYCT_4229   8
                                                          MTA NYCT_4233   2
                                                          MTA NYCT_4615  54
             FB_A5-Weekday-SDon-024200_B41_4   2015-01-06 MTA NYCT_4244  55
             FB_A5-Weekday-SDon-025700_B44_3   2015-01-06 MTA NYCT_4225  27
             FB_A5-Weekday-SDon-026000_B41_5   2015-01-06 MTA NYCT_4225   3
                                                          MTA NYCT_4229  57
                                                          MTA NYCT_4233   1
                                                          MTA NYCT_4955   1
             FB_A5-Weekday-SDon-027000_B41_3   2015-01-06 MTA NYCT_4239  56
                                                          MTA NYCT_5176   1
             FB_A5-Weekday-SDon-027200_B41_7   2015-01-06 MTA NYCT_4235  65
             FB_A5-Weekday-SDon-028900_B41_9   2015-01-06 MTA NYCT_4963  60
...                                                                      ..
             FB_A5-Weekday-SDon-135600_B46_206 2015-01-06 MTA NYCT_4574  63
             FB_A5-Weekday-SDon-136000_B41_77  2015-01-06 MTA NYCT_5127  74
             FB_A5-Weekday-SDon-137200_B41_83  2015-01-06 MTA NYCT_5052  67
             FB_A5-Weekday-SDon-137200_B41_84  2015-01-06 MTA NYCT_4593  60
             FB_A5-Weekday-SDon-138400_B46_204 2015-01-06 MTA NYCT_4962  57
             FB_A5-Weekday-SDon-139600_B46_210 2015-01-06 MTA NYCT_5141  70
             FB_A5-Weekday-SDon-139700_B46_200 2015-01-06 MTA NYCT_4589  80
                                                          MTA NYCT_5010  23
             FB_A5-Weekday-SDon-140800_B41_78  2015-01-06 MTA NYCT_4952  19
             FB_A5-Weekday-SDon-140900_B41_85  2015-01-06 MTA NYCT_5036  62
             FB_A5-Weekday-SDon-142000_B46_206 2015-01-06 MTA NYCT_4574  60
             FB_A5-Weekday-SDon-142200_B41_77  2015-01-06 MTA NYCT_5127  35
             FB_A5-Weekday-SDon-143200_B41_84  2015-01-06 MTA NYCT_4591   4
                                                          MTA NYCT_4593  48
             FB_A5-Weekday-SDon-143300_B41_83  2015-01-06 MTA NYCT_5052  58
                                                          MTA NYCT_5127   1
             FB_A5-Weekday-SDon-144400_B46_203 2015-01-06 MTA NYCT_5010  46
             FB_A5-Weekday-SDon-144800_B46_204 2015-01-06 MTA NYCT_4962  31
             FB_A5-Weekday-SDon-145600_B46_200 2015-01-06 MTA NYCT_4229   8
                                                          MTA NYCT_4589  46
             FB_A5-Weekday-SDon-145700_B46_210 2015-01-06 MTA NYCT_5141  56
             FB_A5-Weekday-SDon-145800_B41_77  2015-01-06 MTA NYCT_5010   4
                                                          MTA NYCT_5127  34
             FB_A5-Weekday-SDon-147000_B41_85  2015-01-06 MTA NYCT_5036  49
                                                          MTA NYCT_5052   5
             FB_A5-Weekday-SDon-148200_B46_204 2015-01-06 MTA NYCT_4962  32
             FB_A5-Weekday-SDon-148500_B41_83  2015-01-06 MTA NYCT_5052  53
             FB_A5-Weekday-SDon-150500_B46_210 2015-01-06 MTA NYCT_4220   9
                                                          MTA NYCT_4232   1
                                                          MTA NYCT_5141  54

                                                                         time_range  \
route        trip_id                           trip_date  vehicle_id
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1   2015-01-06 MTA NYCT_4233    00:52:37
                                                          MTA NYCT_4615    00:03:09
                                                          MTA NYCT_5049    00:09:00
             FB_A5-Weekday-SDon-006200_B41_2   2015-01-06 MTA NYCT_4615    00:53:40
                                                          MTA NYCT_5049    00:02:07
             FB_A5-Weekday-SDon-009000_B41_1   2015-01-06 MTA NYCT_4233    00:35:00
             FB_A5-Weekday-SDon-009700_B41_3   2015-01-06 MTA NYCT_4239    00:48:12
             FB_A5-Weekday-SDon-012000_B41_2   2015-01-06 MTA NYCT_4615    00:51:04
                                                          MTA NYCT_4955    00:56:22
             FB_A5-Weekday-SDon-012200_B41_4   2015-01-06 MTA NYCT_4244    00:30:54
             FB_A5-Weekday-SDon-015000_B41_3   2015-01-06 MTA NYCT_4239    00:35:55
             FB_A5-Weekday-SDon-015500_B41_1   2015-01-06 MTA NYCT_4233    01:08:26
             FB_A5-Weekday-SDon-018000_B41_4   2015-01-06 MTA NYCT_4244    00:30:27
                                                          MTA NYCT_4955    00:02:38
             FB_A5-Weekday-SDon-018200_B41_2   2015-01-06 MTA NYCT_4615    01:00:04
             FB_A5-Weekday-SDon-021000_B41_1   2015-01-06 MTA NYCT_4233    00:34:31
             FB_A5-Weekday-SDon-021500_B41_3   2015-01-06 MTA NYCT_4239    00:44:36
             FB_A5-Weekday-SDon-024000_B41_2   2015-01-06 MTA NYCT_4229    00:05:46
                                                          MTA NYCT_4233    00:00:31
                                                          MTA NYCT_4615    00:43:30
             FB_A5-Weekday-SDon-024200_B41_4   2015-01-06 MTA NYCT_4244    00:45:20
             FB_A5-Weekday-SDon-025700_B44_3   2015-01-06 MTA NYCT_4225    00:27:58
             FB_A5-Weekday-SDon-026000_B41_5   2015-01-06 MTA NYCT_4225    00:01:35
                                                          MTA NYCT_4229    00:52:25
                                                          MTA NYCT_4233    00:00:00
                                                          MTA NYCT_4955    00:00:00
             FB_A5-Weekday-SDon-027000_B41_3   2015-01-06 MTA NYCT_4239    00:51:42
                                                          MTA NYCT_5176    00:00:00
             FB_A5-Weekday-SDon-027200_B41_7   2015-01-06 MTA NYCT_4235    00:58:11
             FB_A5-Weekday-SDon-028900_B41_9   2015-01-06 MTA NYCT_4963    01:00:46
...                                                                             ...
             FB_A5-Weekday-SDon-135600_B46_206 2015-01-06 MTA NYCT_4574    01:00:00
             FB_A5-Weekday-SDon-136000_B41_77  2015-01-06 MTA NYCT_5127    01:10:55
             FB_A5-Weekday-SDon-137200_B41_83  2015-01-06 MTA NYCT_5052    01:00:02
             FB_A5-Weekday-SDon-137200_B41_84  2015-01-06 MTA NYCT_4593    00:57:40
             FB_A5-Weekday-SDon-138400_B46_204 2015-01-06 MTA NYCT_4962    01:00:07
             FB_A5-Weekday-SDon-139600_B46_210 2015-01-06 MTA NYCT_5141    01:08:36
             FB_A5-Weekday-SDon-139700_B46_200 2015-01-06 MTA NYCT_4589    01:12:30
                                                          MTA NYCT_5010    00:25:52
             FB_A5-Weekday-SDon-140800_B41_78  2015-01-06 MTA NYCT_4952    00:40:59
             FB_A5-Weekday-SDon-140900_B41_85  2015-01-06 MTA NYCT_5036    00:57:55
             FB_A5-Weekday-SDon-142000_B46_206 2015-01-06 MTA NYCT_4574    00:58:05
             FB_A5-Weekday-SDon-142200_B41_77  2015-01-06 MTA NYCT_5127    00:33:28
             FB_A5-Weekday-SDon-143200_B41_84  2015-01-06 MTA NYCT_4591    00:03:07
                                                          MTA NYCT_4593    00:43:49
             FB_A5-Weekday-SDon-143300_B41_83  2015-01-06 MTA NYCT_5052    00:47:10
                                                          MTA NYCT_5127    00:00:00
             FB_A5-Weekday-SDon-144400_B46_203 2015-01-06 MTA NYCT_5010    00:43:12
             FB_A5-Weekday-SDon-144800_B46_204 2015-01-06 MTA NYCT_4962    00:26:49
             FB_A5-Weekday-SDon-145600_B46_200 2015-01-06 MTA NYCT_4229    00:06:55
                                                          MTA NYCT_4589    00:41:12
             FB_A5-Weekday-SDon-145700_B46_210 2015-01-06 MTA NYCT_5141    00:49:03
             FB_A5-Weekday-SDon-145800_B41_77  2015-01-06 MTA NYCT_5010    00:01:33
                                                          MTA NYCT_5127    00:27:59
             FB_A5-Weekday-SDon-147000_B41_85  2015-01-06 MTA NYCT_5036    00:44:43
                                                          MTA NYCT_5052    00:03:10
             FB_A5-Weekday-SDon-148200_B46_204 2015-01-06 MTA NYCT_4962    00:31:05
             FB_A5-Weekday-SDon-148500_B41_83  2015-01-06 MTA NYCT_5052    00:56:03
             FB_A5-Weekday-SDon-150500_B46_210 2015-01-06 MTA NYCT_4220    00:06:20
                                                          MTA NYCT_4232    00:00:00
                                                          MTA NYCT_5141    00:53:39

                                                                         dist_range
route        trip_id                           trip_date  vehicle_id
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1   2015-01-06 MTA NYCT_4233    11765.00
                                                          MTA NYCT_4615        0.00
                                                          MTA NYCT_5049        6.31
             FB_A5-Weekday-SDon-006200_B41_2   2015-01-06 MTA NYCT_4615    11140.16
                                                          MTA NYCT_5049      949.74
             FB_A5-Weekday-SDon-009000_B41_1   2015-01-06 MTA NYCT_4233    11555.84
             FB_A5-Weekday-SDon-009700_B41_3   2015-01-06 MTA NYCT_4239    11327.94
             FB_A5-Weekday-SDon-012000_B41_2   2015-01-06 MTA NYCT_4615    12031.95
                                                          MTA NYCT_4955        0.00
             FB_A5-Weekday-SDon-012200_B41_4   2015-01-06 MTA NYCT_4244    11748.79
             FB_A5-Weekday-SDon-015000_B41_3   2015-01-06 MTA NYCT_4239    11759.84
             FB_A5-Weekday-SDon-015500_B41_1   2015-01-06 MTA NYCT_4233    11623.11
             FB_A5-Weekday-SDon-018000_B41_4   2015-01-06 MTA NYCT_4244    11335.99
                                                          MTA NYCT_4955        0.00
             FB_A5-Weekday-SDon-018200_B41_2   2015-01-06 MTA NYCT_4615    12317.15
             FB_A5-Weekday-SDon-021000_B41_1   2015-01-06 MTA NYCT_4233    11077.05
             FB_A5-Weekday-SDon-021500_B41_3   2015-01-06 MTA NYCT_4239    11485.14
             FB_A5-Weekday-SDon-024000_B41_2   2015-01-06 MTA NYCT_4229      183.80
                                                          MTA NYCT_4233      189.29
                                                          MTA NYCT_4615    11958.40
             FB_A5-Weekday-SDon-024200_B41_4   2015-01-06 MTA NYCT_4244    11820.88
             FB_A5-Weekday-SDon-025700_B44_3   2015-01-06 MTA NYCT_4225     6743.55
             FB_A5-Weekday-SDon-026000_B41_5   2015-01-06 MTA NYCT_4225      755.21
                                                          MTA NYCT_4229    11337.19
                                                          MTA NYCT_4233        0.00
                                                          MTA NYCT_4955        0.00
             FB_A5-Weekday-SDon-027000_B41_3   2015-01-06 MTA NYCT_4239    12202.03
                                                          MTA NYCT_5176        0.00
             FB_A5-Weekday-SDon-027200_B41_7   2015-01-06 MTA NYCT_4235    12270.39
             FB_A5-Weekday-SDon-028900_B41_9   2015-01-06 MTA NYCT_4963    11600.85
...                                                                             ...
             FB_A5-Weekday-SDon-135600_B46_206 2015-01-06 MTA NYCT_4574    12259.73
             FB_A5-Weekday-SDon-136000_B41_77  2015-01-06 MTA NYCT_5127    12222.79
             FB_A5-Weekday-SDon-137200_B41_83  2015-01-06 MTA NYCT_5052    12493.78
             FB_A5-Weekday-SDon-137200_B41_84  2015-01-06 MTA NYCT_4593    11445.55
             FB_A5-Weekday-SDon-138400_B46_204 2015-01-06 MTA NYCT_4962    12149.60
             FB_A5-Weekday-SDon-139600_B46_210 2015-01-06 MTA NYCT_5141    12650.54
             FB_A5-Weekday-SDon-139700_B46_200 2015-01-06 MTA NYCT_4589    11654.13
                                                          MTA NYCT_5010    11765.58
             FB_A5-Weekday-SDon-140800_B41_78  2015-01-06 MTA NYCT_4952    10688.27
             FB_A5-Weekday-SDon-140900_B41_85  2015-01-06 MTA NYCT_5036    12239.81
             FB_A5-Weekday-SDon-142000_B46_206 2015-01-06 MTA NYCT_4574    12650.54
             FB_A5-Weekday-SDon-142200_B41_77  2015-01-06 MTA NYCT_5127     6757.23
             FB_A5-Weekday-SDon-143200_B41_84  2015-01-06 MTA NYCT_4591      488.23
                                                          MTA NYCT_4593    12019.35
             FB_A5-Weekday-SDon-143300_B41_83  2015-01-06 MTA NYCT_5052    12353.95
                                                          MTA NYCT_5127        0.00
             FB_A5-Weekday-SDon-144400_B46_203 2015-01-06 MTA NYCT_5010    12461.94
             FB_A5-Weekday-SDon-144800_B46_204 2015-01-06 MTA NYCT_4962     7006.68
             FB_A5-Weekday-SDon-145600_B46_200 2015-01-06 MTA NYCT_4229      374.51
                                                          MTA NYCT_4589    11866.50
             FB_A5-Weekday-SDon-145700_B46_210 2015-01-06 MTA NYCT_5141    12174.14
             FB_A5-Weekday-SDon-145800_B41_77  2015-01-06 MTA NYCT_5010      176.58
                                                          MTA NYCT_5127     7372.53
             FB_A5-Weekday-SDon-147000_B41_85  2015-01-06 MTA NYCT_5036    11705.75
                                                          MTA NYCT_5052      492.95
             FB_A5-Weekday-SDon-148200_B46_204 2015-01-06 MTA NYCT_4962     7184.78
             FB_A5-Weekday-SDon-148500_B41_83  2015-01-06 MTA NYCT_5052    12649.03
             FB_A5-Weekday-SDon-150500_B46_210 2015-01-06 MTA NYCT_4220      620.68
                                                          MTA NYCT_4232         NaN
                                                          MTA NYCT_5141    12033.07

[538 rows x 3 columns]

In [24]:
stop_distances = bustime.reset_index().drop_duplicates(['shape_id','next_stop_id','stop_dist_on_trip'])
stop_distances.shape_id = stop_distances.shape_id.str.replace('MTA_','')
stop_distances.next_stop_id = stop_distances.next_stop_id.str.replace('MTA_','')
stop_distances.drop(['route','trip_id','trip_date','vehicle_id','timestamp','lat','lon','dist_from_stop','presentable_dist','veh_dist_along_trip'],axis=1,inplace=True)

In [25]:
# verify that shape_id and next_stop_id is a valid primary key (that is, exactly one value for each index)
sum(stop_distances.duplicated(['shape_id','next_stop_id']))

0

In [26]:
stop_distances = stop_distances.sort(['shape_id','stop_dist_on_trip']).reset_index(drop=True)
stop_distances.head()

  shape_id next_stop_id  stop_dist_on_trip
0  B410227       303270             334.47
1  B410227       303274             950.80
2  B410227       303276            1283.55
3  B410227       303277            1472.70
4  B410227       303222            2087.51

In [27]:
# mean distance between stops on trips
stop_distances.groupby('shape_id')['stop_dist_on_trip'].diff().mean()

375.39760814249365

## Identify interruptions as speed below threshold for some minimum duration

In [41]:
bustime['seg_speed'] = bg['veh_dist_along_trip'].diff()/(bg['timestamp'].diff()/ttools.datetime.timedelta(seconds=1))
bustime['seg_duration'] = bg['timestamp'].diff()/ttools.datetime.timedelta(seconds=1)

In [48]:
bustime.head(40)

                                                                             lat  \
route        trip_id                         trip_date  vehicle_id
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1 2015-01-06 MTA NYCT_4233  40.613280
                                                        MTA NYCT_4233  40.613280
                                                        MTA NYCT_4233  40.613280
                                                        MTA NYCT_4233  40.610833
                                                        MTA NYCT_4233  40.611432
                                                        MTA NYCT_4233  40.612922
                                                        MTA NYCT_4233  40.614282
                                                        MTA NYCT_4233  40.617779
                                                        MTA NYCT_4233  40.620874
                                                        MTA NYCT_4233  40.622216
                                                        MTA NYCT_4233  40.624716
                                                        MTA NYCT_4233  40.627214
                                                        MTA NYCT_4233  40.627758
                                                        MTA NYCT_4233  40.630890
                                                        MTA NYCT_4233  40.632639
                                                        MTA NYCT_4233  40.632781
                                                        MTA NYCT_4233  40.635526
                                                        MTA NYCT_4233  40.637535
                                                        MTA NYCT_4233  40.640351
                                                        MTA NYCT_4233  40.642112
                                                        MTA NYCT_4233  40.644067
                                                        MTA NYCT_4233  40.644723
                                                        MTA NYCT_4233  40.646539
                                                        MTA NYCT_4233  40.650480
                                                        MTA NYCT_4233  40.653385
                                                        MTA NYCT_4233  40.655210
                                                        MTA NYCT_4233  40.658258
                                                        MTA NYCT_4233  40.659988
                                                        MTA NYCT_4233  40.661865
                                                        MTA NYCT_4233  40.662940
                                                        MTA NYCT_4233  40.666451
                                                        MTA NYCT_4233  40.669747
                                                        MTA NYCT_4233  40.672709
                                                        MTA NYCT_4233  40.673025
                                                        MTA NYCT_4233  40.676708
                                                        MTA NYCT_4233  40.679220
                                                        MTA NYCT_4233  40.680226
                                                        MTA NYCT_4233  40.683093
                                                        MTA NYCT_4233  40.686209
                                                        MTA NYCT_4233  40.688693

                                                                             lon  \
route        trip_id                         trip_date  vehicle_id
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1 2015-01-06 MTA NYCT_4233 -73.926553
                                                        MTA NYCT_4233 -73.926553
                                                        MTA NYCT_4233 -73.926553
                                                        MTA NYCT_4233 -73.923459
                                                        MTA NYCT_4233 -73.924141
                                                        MTA NYCT_4233 -73.925996
                                                        MTA NYCT_4233 -73.927658
                                                        MTA NYCT_4233 -73.931566
                                                        MTA NYCT_4233 -73.934999
                                                        MTA NYCT_4233 -73.936440
                                                        MTA NYCT_4233 -73.939093
                                                        MTA NYCT_4233 -73.941714
                                                        MTA NYCT_4233 -73.942315
                                                        MTA NYCT_4233 -73.945619
                                                        MTA NYCT_4233 -73.947466
                                                        MTA NYCT_4233 -73.947616
                                                        MTA NYCT_4233 -73.950525
                                                        MTA NYCT_4233 -73.952665
                                                        MTA NYCT_4233 -73.955487
                                                        MTA NYCT_4233 -73.957215
                                                        MTA NYCT_4233 -73.957906
                                                        MTA NYCT_4233 -73.957990
                                                        MTA NYCT_4233 -73.958109
                                                        MTA NYCT_4233 -73.958733
                                                        MTA NYCT_4233 -73.959416
                                                        MTA NYCT_4233 -73.959774
                                                        MTA NYCT_4233 -73.960458
                                                        MTA NYCT_4233 -73.960599
                                                        MTA NYCT_4233 -73.961550
                                                        MTA NYCT_4233 -73.962295
                                                        MTA NYCT_4233 -73.964726
                                                        MTA NYCT_4233 -73.967068
                                                        MTA NYCT_4233 -73.969223
                                                        MTA NYCT_4233 -73.969475
                                                        MTA NYCT_4233 -73.972117
                                                        MTA NYCT_4233 -73.973933
                                                        MTA NYCT_4233 -73.974661
                                                        MTA NYCT_4233 -73.976756
                                                        MTA NYCT_4233 -73.979030
                                                        MTA NYCT_4233 -73.983329

                                                                       timestamp  \
route        trip_id                         trip_date  vehicle_id
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1 2015-01-06 MTA NYCT_4233   00:39:55
                                                        MTA NYCT_4233   00:40:58
                                                        MTA NYCT_4233   00:42:02
                                                        MTA NYCT_4233   00:45:41
                                                        MTA NYCT_4233   00:46:43
                                                        MTA NYCT_4233   00:47:45
                                                        MTA NYCT_4233   00:48:49
                                                        MTA NYCT_4233   00:49:52
                                                        MTA NYCT_4233   00:50:55
                                                        MTA NYCT_4233   00:51:57
                                                        MTA NYCT_4233   00:53:01
                                                        MTA NYCT_4233   00:54:04
                                                        MTA NYCT_4233   00:54:36
                                                        MTA NYCT_4233   00:55:39
                                                        MTA NYCT_4233   00:56:42
                                                        MTA NYCT_4233   00:57:45
                                                        MTA NYCT_4233   00:58:48
                                                        MTA NYCT_4233   00:59:52
                                                        MTA NYCT_4233   01:00:55
                                                        MTA NYCT_4233   01:01:58
                                                        MTA NYCT_4233   01:03:01
                                                        MTA NYCT_4233   01:03:33
                                                        MTA NYCT_4233   01:04:35
                                                        MTA NYCT_4233   01:05:39
                                                        MTA NYCT_4233   01:06:41
                                                        MTA NYCT_4233   01:07:46
                                                        MTA NYCT_4233   01:08:49
                                                        MTA NYCT_4233   01:09:52
                                                        MTA NYCT_4233   01:10:56
                                                        MTA NYCT_4233   01:11:58
                                                        MTA NYCT_4233   01:13:01
                                                        MTA NYCT_4233   01:13:33
                                                        MTA NYCT_4233   01:14:37
                                                        MTA NYCT_4233   01:15:40
                                                        MTA NYCT_4233   01:16:44
                                                        MTA NYCT_4233   01:17:48
                                                        MTA NYCT_4233   01:18:51
                                                        MTA NYCT_4233   01:19:53
                                                        MTA NYCT_4233   01:20:57
                                                        MTA NYCT_4233   01:21:59

                                                                          shape_id  \
route        trip_id                         trip_date  vehicle_id
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1 2015-01-06 MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291
                                                        MTA NYCT_4233  MTA_B410291

                                                                      next_stop_id  \
route        trip_id                         trip_date  vehicle_id
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1 2015-01-06 MTA NYCT_4233   MTA_303218
                                                        MTA NYCT_4233   MTA_303218
                                                        MTA NYCT_4233   MTA_303218
                                                        MTA NYCT_4233   MTA_300163
                                                        MTA NYCT_4233   MTA_300163
                                                        MTA NYCT_4233   MTA_303218
                                                        MTA NYCT_4233   MTA_303219
                                                        MTA NYCT_4233   MTA_303222
                                                        MTA NYCT_4233   MTA_303223
                                                        MTA NYCT_4233   MTA_303224
                                                        MTA NYCT_4233   MTA_303227
                                                        MTA NYCT_4233   MTA_303229
                                                        MTA NYCT_4233   MTA_303229
                                                        MTA NYCT_4233   MTA_303232
                                                        MTA NYCT_4233   MTA_303232
                                                        MTA NYCT_4233   MTA_303233
                                                        MTA NYCT_4233   MTA_303234
                                                        MTA NYCT_4233   MTA_303235
                                                        MTA NYCT_4233   MTA_306324
                                                        MTA NYCT_4233   MTA_303237
                                                        MTA NYCT_4233   MTA_303238
                                                        MTA NYCT_4233   MTA_303239
                                                        MTA NYCT_4233   MTA_303239
                                                        MTA NYCT_4233   MTA_308348
                                                        MTA NYCT_4233   MTA_303242
                                                        MTA NYCT_4233   MTA_303242
                                                        MTA NYCT_4233   MTA_303244
                                                        MTA NYCT_4233   MTA_306325
                                                        MTA NYCT_4233   MTA_306325
                                                        MTA NYCT_4233   MTA_306325
                                                        MTA NYCT_4233   MTA_308070
                                                        MTA NYCT_4233   MTA_308070
                                                        MTA NYCT_4233   MTA_307853
                                                        MTA NYCT_4233   MTA_307853
                                                        MTA NYCT_4233   MTA_303250
                                                        MTA NYCT_4233   MTA_307210
                                                        MTA NYCT_4233   MTA_303253
                                                        MTA NYCT_4233   MTA_308641
                                                        MTA NYCT_4233   MTA_303256
                                                        MTA NYCT_4233   MTA_306892

                                                                       dist_from_stop  \
route        trip_id                         trip_date  vehicle_id
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1 2015-01-06 MTA NYCT_4233           38.04
                                                        MTA NYCT_4233           38.04
                                                        MTA NYCT_4233           38.04
                                                        MTA NYCT_4233           88.01
                                                        MTA NYCT_4233            0.00
                                                        MTA NYCT_4233          101.43
                                                        MTA NYCT_4233          138.79
                                                        MTA NYCT_4233          245.15
                                                        MTA NYCT_4233           89.26
                                                        MTA NYCT_4233            0.00
                                                        MTA NYCT_4233           94.51
                                                        MTA NYCT_4233           79.03
                                                        MTA NYCT_4233            0.00
                                                        MTA NYCT_4233          265.16
                                                        MTA NYCT_4233           15.91
                                                        MTA NYCT_4233          211.48
                                                        MTA NYCT_4233          111.58
                                                        MTA NYCT_4233          162.83
                                                        MTA NYCT_4233           55.51
                                                        MTA NYCT_4233          115.78
                                                        MTA NYCT_4233           17.39
                                                        MTA NYCT_4233          240.84
                                                        MTA NYCT_4233           38.71
                                                        MTA NYCT_4233           51.56
                                                        MTA NYCT_4233          209.05
                                                        MTA NYCT_4233            3.87
                                                        MTA NYCT_4233          177.36
                                                        MTA NYCT_4233          366.74
                                                        MTA NYCT_4233          138.97
                                                        MTA NYCT_4233            3.86
                                                        MTA NYCT_4233          769.16

In [60]:
import numpy as np
bustime['interruption_index'] = np.nan
bustime.set_index('timestamp',append=True,inplace=True)
bustime.sort_index(inplace=True)

In [66]:
def index_interrupts(df):
    counter = 0
    interruption = False
    for index, row in df.iterrows():
        if row.seg_speed > 0.4:
            interruption = False
        else:
            if interruption is False:
                counter += 1
            else:
                pass
            interruption = True
            df.loc[index,'interruption_index'] = counter
    return df

In [67]:
bustime.groupby(level=(0,1,2,3)).apply(index_interrupts)

                                                                                               lat  \
route        trip_id                           trip_date  vehicle_id    timestamp
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1   2015-01-06 MTA NYCT_4233 0 days 00:39:55  40.613280
                                                                        0 days 00:40:58  40.613280
                                                                        0 days 00:42:02  40.613280
                                                                        0 days 00:45:41  40.610833
                                                                        0 days 00:46:43  40.611432
                                                                        0 days 00:47:45  40.612922
                                                                        0 days 00:48:49  40.614282
                                                                        0 days 00:49:52  40.617779
                                                                        0 days 00:50:55  40.620874
                                                                        0 days 00:51:57  40.622216
                                                                        0 days 00:53:01  40.624716
                                                                        0 days 00:54:04  40.627214
                                                                        0 days 00:54:36  40.627758
                                                                        0 days 00:55:39  40.630890
                                                                        0 days 00:56:42  40.632639
                                                                        0 days 00:57:45  40.632781
                                                                        0 days 00:58:48  40.635526
                                                                        0 days 00:59:52  40.637535
                                                                        0 days 01:00:55  40.640351
                                                                        0 days 01:01:58  40.642112
                                                                        0 days 01:03:01  40.644067
                                                                        0 days 01:03:33  40.644723
                                                                        0 days 01:04:35  40.646539
                                                                        0 days 01:05:39  40.650480
                                                                        0 days 01:06:41  40.653385
                                                                        0 days 01:07:46  40.655210
                                                                        0 days 01:08:49  40.658258
                                                                        0 days 01:09:52  40.659988
                                                                        0 days 01:10:56  40.661865
                                                                        0 days 01:11:58  40.662940
...                                                                                            ...
             FB_A5-Weekday-SDon-150500_B46_210 2015-01-06 MTA NYCT_5141 1 days 01:34:52  40.656658
                                                                        1 days 01:35:55  40.655820
                                                                        1 days 01:36:59  40.653756
                                                                        1 days 01:37:30  40.653793
                                                                        1 days 01:38:34  40.652392
                                                                        1 days 01:39:37  40.651449
                                                                        1 days 01:40:40  40.649297
                                                                        1 days 01:41:43  40.647177
                                                                        1 days 01:42:47  40.644858
                                                                        1 days 01:43:50  40.643950
                                                                        1 days 01:44:54  40.641716
                                                                        1 days 01:45:57  40.640340
                                                                        1 days 01:46:29  40.639702
                                                                        1 days 01:47:32  40.637887
                                                                        1 days 01:48:36  40.634814
                                                                        1 days 01:49:39  40.634218
                                                                        1 days 01:50:42  40.633129
                                                                        1 days 01:51:46  40.632569
                                                                        1 days 01:52:17  40.631964
                                                                        1 days 01:53:21  40.630262
                                                                        1 days 01:54:25  40.627119
                                                                        1 days 01:55:28  40.624561
                                                                        1 days 01:56:31  40.622625
                                                                        1 days 01:57:35  40.619718
                                                                        1 days 01:58:38  40.618698
                                                                        1 days 01:59:41  40.616315
                                                                        1 days 02:00:45  40.613689
                                                                        1 days 02:01:16  40.613130
                                                                        1 days 02:02:19  40.611616
                                                                        1 days 02:03:22  40.608753

                                                                                               lon  \
route        trip_id                           trip_date  vehicle_id    timestamp
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1   2015-01-06 MTA NYCT_4233 0 days 00:39:55 -73.926553
                                                                        0 days 00:40:58 -73.926553
                                                                        0 days 00:42:02 -73.926553
                                                                        0 days 00:45:41 -73.923459
                                                                        0 days 00:46:43 -73.924141
                                                                        0 days 00:47:45 -73.925996
                                                                        0 days 00:48:49 -73.927658
                                                                        0 days 00:49:52 -73.931566
                                                                        0 days 00:50:55 -73.934999
                                                                        0 days 00:51:57 -73.936440
                                                                        0 days 00:53:01 -73.939093
                                                                        0 days 00:54:04 -73.941714
                                                                        0 days 00:54:36 -73.942315
                                                                        0 days 00:55:39 -73.945619
                                                                        0 days 00:56:42 -73.947466
                                                                        0 days 00:57:45 -73.947616
                                                                        0 days 00:58:48 -73.950525
                                                                        0 days 00:59:52 -73.952665
                                                                        0 days 01:00:55 -73.955487
                                                                        0 days 01:01:58 -73.957215
                                                                        0 days 01:03:01 -73.957906
                                                                        0 days 01:03:33 -73.957990
                                                                        0 days 01:04:35 -73.958109
                                                                        0 days 01:05:39 -73.958733
                                                                        0 days 01:06:41 -73.959416
                                                                        0 days 01:07:46 -73.959774
                                                                        0 days 01:08:49 -73.960458
                                                                        0 days 01:09:52 -73.960599
                                                                        0 days 01:10:56 -73.961550
                                                                        0 days 01:11:58 -73.962295
...                                                                                            ...
             FB_A5-Weekday-SDon-150500_B46_210 2015-01-06 MTA NYCT_5141 1 days 01:34:52 -73.960112
                                                                        1 days 01:35:55 -73.959909
                                                                        1 days 01:36:59 -73.959487
                                                                        1 days 01:37:30 -73.959494
                                                                        1 days 01:38:34 -73.959207
                                                                        1 days 01:39:37 -73.958982
                                                                        1 days 01:40:40 -73.958441
                                                                        1 days 01:41:43 -73.958130
                                                                        1 days 01:42:47 -73.958002
                                                                        1 days 01:43:50 -73.957887
                                                                        1 days 01:44:54 -73.956831
                                                                        1 days 01:45:57 -73.955476
                                                                        1 days 01:46:29 -73.954846
                                                                        1 days 01:47:32 -73.953039
                                                                        1 days 01:48:36 -73.949777
                                                                        1 days 01:49:39 -73.949142
                                                                        1 days 01:50:42 -73.947984
                                                                        1 days 01:51:46 -73.947392
                                                                        1 days 01:52:17 -73.946752
                                                                        1 days 01:53:21 -73.944952
                                                                        1 days 01:54:25 -73.941617
                                                                        1 days 01:55:28 -73.938929
                                                                        1 days 01:56:31 -73.936874
                                                                        1 days 01:57:35 -73.933711
                                                                        1 days 01:58:38 -73.932574
                                                                        1 days 01:59:41 -73.929923
                                                                        1 days 02:00:45 -73.926998
                                                                        1 days 02:01:16 -73.926389
                                                                        1 days 02:02:19 -73.924735
                                                                        1 days 02:03:22 -73.921521

                                                                                            shape_id  \
route        trip_id                           trip_date  vehicle_id    timestamp
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1   2015-01-06 MTA NYCT_4233 0 days 00:39:55  MTA_B410291
                                                                        0 days 00:40:58  MTA_B410291
                                                                        0 days 00:42:02  MTA_B410291
                                                                        0 days 00:45:41  MTA_B410291
                                                                        0 days 00:46:43  MTA_B410291
                                                                        0 days 00:47:45  MTA_B410291
                                                                        0 days 00:48:49  MTA_B410291
                                                                        0 days 00:49:52  MTA_B410291
                                                                        0 days 00:50:55  MTA_B410291
                                                                        0 days 00:51:57  MTA_B410291
                                                                        0 days 00:53:01  MTA_B410291
                                                                        0 days 00:54:04  MTA_B410291
                                                                        0 days 00:54:36  MTA_B410291
                                                                        0 days 00:55:39  MTA_B410291
                                                                        0 days 00:56:42  MTA_B410291
                                                                        0 days 00:57:45  MTA_B410291
                                                                        0 days 00:58:48  MTA_B410291
                                                                        0 days 00:59:52  MTA_B410291
                                                                        0 days 01:00:55  MTA_B410291
                                                                        0 days 01:01:58  MTA_B410291
                                                                        0 days 01:03:01  MTA_B410291
                                                                        0 days 01:03:33  MTA_B410291
                                                                        0 days 01:04:35  MTA_B410291
                                                                        0 days 01:05:39  MTA_B410291
                                                                        0 days 01:06:41  MTA_B410291
                                                                        0 days 01:07:46  MTA_B410291
                                                                        0 days 01:08:49  MTA_B410291
                                                                        0 days 01:09:52  MTA_B410291
                                                                        0 days 01:10:56  MTA_B410291
                                                                        0 days 01:11:58  MTA_B410291
...                                                                                              ...
             FB_A5-Weekday-SDon-150500_B46_210 2015-01-06 MTA NYCT_5141 1 days 01:34:52  MTA_B410300
                                                                        1 days 01:35:55  MTA_B410300
                                                                        1 days 01:36:59  MTA_B410300
                                                                        1 days 01:37:30  MTA_B410300
                                                                        1 days 01:38:34  MTA_B410300
                                                                        1 days 01:39:37  MTA_B410300
                                                                        1 days 01:40:40  MTA_B410300
                                                                        1 days 01:41:43  MTA_B410300
                                                                        1 days 01:42:47  MTA_B410300
                                                                        1 days 01:43:50  MTA_B410300
                                                                        1 days 01:44:54  MTA_B410300
                                                                        1 days 01:45:57  MTA_B410300
                                                                        1 days 01:46:29  MTA_B410300
                                                                        1 days 01:47:32  MTA_B410300
                                                                        1 days 01:48:36  MTA_B410300
                                                                        1 days 01:49:39  MTA_B410300
                                                                        1 days 01:50:42  MTA_B410300
                                                                        1 days 01:51:46  MTA_B410300
                                                                        1 days 01:52:17  MTA_B410300
                                                                        1 days 01:53:21  MTA_B410300
                                                                        1 days 01:54:25  MTA_B410300
                                                                        1 days 01:55:28  MTA_B410300
                                                                        1 days 01:56:31  MTA_B410300
                                                                        1 days 01:57:35  MTA_B410300
                                                                        1 days 01:58:38  MTA_B410300
                                                                        1 days 01:59:41  MTA_B410300
                                                                        1 days 02:00:45  MTA_B410300
                                                                        1 days 02:01:16  MTA_B410300
                                                                        1 days 02:02:19  MTA_B410300
                                                                        1 days 02:03:22  MTA_B410300

                                                                                        next_stop_id  \
route        trip_id                           trip_date  vehicle_id    timestamp
MTA NYCT_B41 FB_A5-Weekday-SDon-004500_B41_1   2015-01-06 MTA NYCT_4233 0 days 00:39:55   MTA_303218
                                                                        0 days 00:40:58   MTA_303218
                                                                        0 days 00:42:02   MTA_303218
                                                                        0 days 00:45:41   MTA_300163
                                                                        0 days 00:46:43   MTA_300163
                                                                        0 days 00:47:45   MTA_303218
                                                                        0 days 00:48:49   MTA_303219
                                                                        0 days 00:49:52   MTA_303222
                                                                        0 days 00:50:55   MTA_303223
                                                                        0 days 00:51:57   MTA_303224